<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!--配置文件中配置-->
    <bean id="pieChart" class="org.hf.application.javabase.apply.four.PieChart"/>
    <bean id="barChart" class="org.hf.application.javabase.apply.four.BarChart"/>

    <!--给抽象对象配置要注入的对象-->
    <bean id="chartDisplay" class="org.hf.application.javabase.apply.four.ChartDisplay">
        <property name="abstractChart" ref="barChart" />
    </bean>

</beans>